@import 'theming';


//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

body {
	margin: 0;
	font-family: $font_0, $font_1, $font_2;
}
.topnav {
	width: 100%;
	float: left;
	overflow: hidden;
	background-color: $nav_color;
	border-bottom: 1px solid $nav_border_color;
	margin-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	color: $font_color;
	text-decoration: none;
	font-size: 17px;
	text-align: left;
	a,a:hover {
		background-color: transparent;
		color: $font_color;
		text-decoration: none;
	}
}