//colors
$nav_color: #4e4d4d;
$nav_border_color: #efefef;
$font_color: #fff;
$white: #fff;
$label_border_color: rgb(88, 86, 86);
$gray:  grey;
$black:  black;
$input_border: #ccc;
$input_shadow: #999999;
$thumbnail_border: #ddd;
