@import '../../theming';

input[type=text] {
	padding: 1em;
	font-size: 17px;
	width: 100%;
	border: 1px solid $input_border;
	border-radius: 4px;
	resize: vertical;
	box-shadow: 2px 4px $input_shadow;
}
.result {
	padding-top: 20px;
    border-bottom: 1px solid $gray;
    &__thumbnail {
        display: inline-block;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;
        background-color: $white;
        border: 1px solid $thumbnail_border;
        border-radius: 4px;
        }
    &__details {
        padding: 10px;
        display: block;
        margin: 0 auto;
    }
}


    

